extends layout 

block content 

    h1 title: #{item.name}

    p #[strong description:] #{item.description}
    p #[strong price:] #{item.price}
    p #[strong number in stock:] #{item.number_in_stock}

    hr
    p 
        a(href=item.url+'/update')  Update Item
    p
        a(href=item.url+'/delete')  Delete Item
    p
        a(href='/catalog') Home 
